body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: #2c2c3e;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

h1 {
    text-align: center;
}

.resultado {
    display: flex;
    margin-bottom: 20px;
}

#password {
    flex: 1;
    padding: 8px;
    border: none;
}

button {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #6c63ff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #574fd6;
}

.configuracion label {
    display: block;
    margin-bottom: 10px;
}